a {
  text-decoration: none;
  color: #FFF;
}

.rainbow-button {
  width: calc(6vw + 3px);
  height: calc(3vw + 3px);
  background-image: linear-gradient(90deg, #840032 25%, #840032 50%, #840032 75%, #308968 100%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.rainbow-button:hover {
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 8vw;
  }
}

.demo-6 {
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #3F51B5;
  --color-link-hover: #ffffff;
  --color-title: #fff;
  --color-subtitle: #fff;
}

.content__title {
  font-family: 'Vidaloka', serif;
  font-size: 120px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  pointer-events: none;
  line-height: 1;
  background: -webkit-linear-gradient(#840032, #840032);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content__subtitle {
  font-size: 1.25em;
  color: var(--color-subtitle);
  padding: 0 0.75em;
  margin: 0;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.content__subtitle::before,
.content__subtitle::after {
  content: '';
  position: absolute;
  top: 50%;
  height: 1px;
  background: var(--color-subtitle);
  width: 20%;
}

.content__subtitle::before {
  right: 100%;
}

.content__subtitle::after {
  left: 100%;
}

@media screen and (max-width: 55em) {
  .content__title {
    font-size: 3.75em;
  }

  .content__subtitle {
    font-size: 0.85em;
  }

  .content__subtitle::before,
  .content__subtitle::after {
    width: 10%;
  }
}
